.App{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.contenedor{
  border: 3px solid black;
  border-radius: 20px;
  height: 670px;
  width: 450px;
  padding: 3px;
}

.fila{
  display: flex;
}